@charset "UTF-8";
@font-face {
  font-family: 'Exo2-Bold';
  src: url("../fonts/Exo2/Exo2-Bold.ttf"); }

@font-face {
  font-family: 'Exo2-ExtraBold';
  src: url("../fonts/Exo2/Exo2-ExtraBold.ttf"); }

@font-face {
  font-family: 'Exo2-Medium';
  src: url("../fonts/Exo2/Exo2-Medium.ttf"); }

@font-face {
  font-family: 'Exo2-Regular';
  src: url("../fonts/Exo2/Exo2-Regular.ttf"); }

@font-face {
  font-family: 'Exo2-SemiBold';
  src: url("../fonts/Exo2/Exo2-SemiBold.ttf"); }

@font-face {
  font-family: 'Exo2-Light';
  src: url("../fonts/Exo2/Exo2-Light.ttf"); }

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  font-family: 'Exo2-Regular';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: #000; }

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Exo2-Semibold';
  margin-top: 2.5rem; }

section {
  border-top: 2px solid #EEEEEE;
  margin-top: 2rem; }

.header-style {
  z-index: 100;
  background-color: #fff; }

.mainMenu {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  padding: 0.2rem 8%;
  flex-grow: 0;
  min-height: 5vh; }

.mainMenu__logo {
  height: 2.5rem;
  padding: 0.5rem 0;
  object-fit: contain; }

.mainMenu__elements {
  padding: 0;
  width: 100%;
  max-width: 37vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  flex-shrink: 1;
  position: relative; }

.mainMenu__element {
  flex-grow: 1;
  margin-left: 0.5rem;
  text-align: center;
  list-style: none;
  line-height: 0.9rem; }

.mainMenu__link-style {
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: 'Exo2-Regular';
  color: #575757; }
  .mainMenu__link-style:hover {
    color: #FFD84E; }

.mainMenu__moreWrap {
  display: flex;
  justify-content: center; }
  .mainMenu__moreWrap:hover .mainMenu__element-more {
    color: #FFD84E; }
  .mainMenu__moreWrap:hover .mainMenu__moreList {
    opacity: 100%;
    height: auto;
    padding: 1rem; }
  .mainMenu__moreWrap:hover .mainMenu__moreArrow {
    transform: rotate(-180deg);
    color: #FFD84E; }

.mainMenu__element-more {
  cursor: pointer;
  flex-grow: 0;
  margin-right: 0.2rem;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  font-family: 'Exo2-Regular';
  color: #575757; }

.mainMenu__moreList {
  position: absolute;
  top: 100%;
  right: -1.5%;
  border-radius: 0 0 3px 3px;
  grid-gap: 0.5rem;
  display: grid;
  opacity: 0;
  transition: all 0.3s ease;
  height: 0;
  overflow: hidden; }

.mainMenu__moreList-style {
  background-color: #fff;
  box-shadow: 0 0.15rem 0.15rem rgba(36, 36, 36, 0.3); }

.mainMenu__moreArrow {
  font-family: 'FontAwesome';
  margin-top: 0.2rem;
  font-size: 0.7rem;
  color: #646464;
  transition: all 0.3s ease;
  align-self: center; }

.mainMenu__search {
  padding: 0 2rem;
  margin-right: 1.05%; }

.mainMenu__search-style {
  transition: all 0.3s ease;
  text-decoration: none;
  color: #242424;
  font-size: 1rem;
  position: relative; }
  .mainMenu__search-style:hover {
    color: #FFD84E; }

.mainMenu__right {
  text-align: right;
  display: flex;
  padding-left: 2rem; }

.mainMenu__mail {
  align-content: center; }

.mainMenu__mail-style {
  transition: all 0.3s ease;
  white-space: nowrap;
  font-size: 1.1rem;
  text-decoration: none;
  font-family: 'Exo2-SemiBold';
  color: #242424; }
  .mainMenu__mail-style:hover {
    color: #FFD84E; }

.subMenu {
  z-index: 90;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  padding: 0.2rem 8%;
  align-items: center;
  position: sticky;
  top: 0;
  min-height: 5vh; }

.subMenu-style {
  background-color: white;
  box-shadow: 0 0.1rem 0.15rem rgba(36, 36, 36, 0.2); }

.subMenu__elements {
  padding: 0;
  width: 80%;
  max-width: 48vw;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  margin: 0; }

.subMenu__element-style {
  margin-right: 0.5rem;
  list-style: none;
  text-align: center;
  padding-bottom: 0.2rem; }
  .subMenu__element-style:hover {
    box-shadow: 0 2px 0 rgba(255, 216, 78, 0.8); }
    .subMenu__element-style:hover .subMenu__link-style {
      color: #FFD84E; }
    .subMenu__element-style:hover .subMenu__item {
      height: 16rem;
      opacity: 100%; }

.subMenu__item {
  position: absolute;
  top: 90%;
  height: 0;
  overflow: hidden;
  left: 8%;
  right: 8%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.subMenu__item-style {
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 0.15rem 0.15rem rgba(36, 36, 36, 0.3);
  border-radius: 0 0 3px 3px;
  opacity: 0; }
  .subMenu__item-style:hover {
    height: 16rem;
    opacity: 100%; }

.subMenu__itemImg {
  height: 10rem;
  object-fit: scale-down;
  align-self: end;
  justify-self: center;
  transition: all 0.3s ease;
  margin-bottom: 1rem; }

.subMenu__itemLink {
  display: grid;
  text-decoration: none;
  color: #242424;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  align-self: center; }
  .subMenu__itemLink:hover {
    color: #FFD84E; }
    .subMenu__itemLink:hover .subMenu__itemImg {
      transform: scale(1.05); }

.subMenu__link-style {
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 1rem;
  color: #242424; }

.btn-black {
  color: #fff;
  background-color: #242424;
  transition: all 0.3s ease;
  font-family: 'Exo2-Light';
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 3px;
  cursor: pointer; }
  .btn-black:hover {
    filter: invert(10%) brightness(1.4); }
  .btn-black:active {
    transform: scale(0.95); }

.btn-yellow {
  color: #242424;
  background-color: #FFD84E;
  transition: all 0.3s ease;
  font-family: 'Exo2-Light';
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 3px;
  cursor: pointer; }
  .btn-yellow:hover {
    color: #fff;
    background-color: #242424; }
  .btn-yellow:active {
    transform: scale(0.95); }

.btnCall-style {
  font-family: 'Exo2-Light';
  font-size: 1.5rem;
  margin: 0 0.5rem;
  white-space: nowrap;
  padding: 0;
  background-color: #fff;
  color: #242424;
  border: none;
  border-radius: 3px;
  outline: none; }
  .btnCall-style:hover .btnCall__desc {
    display: block;
    opacity: 1; }

.btnCall__desc {
  display: none;
  position: absolute;
  font-family: 'Exo2-Bold';
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
  border-radius: 3px;
  line-height: 1.6rem;
  bottom: -100%;
  left: -50%;
  box-shadow: 0 0.15rem 0.15rem rgba(36, 36, 36, 0.3); }

.subMenu__tel {
  padding-left: 2rem;
  position: relative; }

.subMenu__tel-style {
  white-space: nowrap;
  font-size: 1.1rem;
  text-decoration: none;
  font-family: 'Exo2-SemiBold';
  color: #242424;
  transition: all 0.3s ease; }
  .subMenu__tel-style:hover {
    color: #FFD84E; }

.subMenu__workhours {
  position: absolute;
  width: 14rem;
  top: 80%;
  right: 8%;
  border-radius: 0 0 3px 3px;
  grid-gap: 0.3rem;
  display: grid;
  opacity: 0;
  transition: all 0.3s ease;
  height: 0;
  overflow: hidden; }

.subMenu__workhours-style {
  background-color: #fff;
  box-shadow: 0 0.15rem 0.15rem rgba(36, 36, 36, 0.3); }

.subMenu__workhoursString-style {
  font-size: 1.1rem;
  align-self: end; }

.subMenu__workhoursString-style2 {
  font-size: 0.9rem;
  align-self: start;
  color: #717171; }
  .subMenu__workhoursString-style2 b {
    color: #000; }

.subMenu__tel:hover + .subMenu__workhours {
  opacity: 100%;
  height: auto;
  padding: 1.5rem 2rem; }

.subMenu__workhours:hover {
  opacity: 100%;
  height: auto;
  padding: 1.5rem 2rem; }

.mobileMenu {
  display: grid;
  position: relative;
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  padding: 0 5%;
  height: 10vh; }
  .mobileMenu__logoLink {
    align-self: center; }
  .mobileMenu__logo {
    height: 2rem; }
  .mobileMenu__btnCall {
    height: 80%;
    align-self: center;
    justify-self: end; }
  .mobileMenu__toggle {
    display: none; }
  .mobileMenu__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: end;
    justify-content: flex-end;
    width: 2rem; }
  .mobileMenu__buttonLine, .mobileMenu__buttonLine::before, .mobileMenu__buttonLine::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #242424;
    transition: all 0.3s ease; }
  .mobileMenu__buttonLine::before {
    content: '';
    top: -10px; }
  .mobileMenu__buttonLine::after {
    content: '';
    top: 10px; }
  .mobileMenu__toggle:checked ~ .mobileMenu__button .mobileMenu__buttonLine {
    background-color: transparent; }
    .mobileMenu__toggle:checked ~ .mobileMenu__button .mobileMenu__buttonLine::after {
      top: 0;
      transform: rotate(45deg); }
    .mobileMenu__toggle:checked ~ .mobileMenu__button .mobileMenu__buttonLine::before {
      top: 0;
      transform: rotate(-45deg); }
  .mobileMenu__opening {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: #fff;
    height: 0;
    width: 100%;
    left: -5.5%;
    top: 99%;
    opacity: 0;
    padding: 0 5.5%;
    overflow: hidden;
    grid-column: 1/-1;
    transition: all 0.3s ease; }
  .mobileMenu__toggle:checked ~ .mobileMenu__opening {
    height: 90vh;
    padding-bottom: 3vh;
    opacity: 1; }
  .mobileMenu__workhours {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    border-radius: 0 0 3px 3px;
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 0.3s ease; }
  .mobileMenu__tel-style {
    grid-column: 1;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Exo2-SemiBold';
    color: #242424;
    transition: all 0.3s ease; }
    .mobileMenu__tel-style:hover {
      color: #FFD84E; }
  .mobileMenu__workhoursString-style {
    grid-row: 1;
    font-size: 1rem;
    align-self: center; }
  .mobileMenu__workhoursString-style2 {
    grid-row: 3;
    font-size: 0.9rem;
    align-self: center;
    color: #717171; }
    .mobileMenu__workhoursString-style2 b {
      color: #000; }
    .mobileMenu__workhoursString-style2:last-child {
      grid-column: 2;
      grid-row: 2/4; }
  .mobileMenu__elements {
    box-shadow: inset 0 0.12rem 0 #EEEEEE;
    display: grid;
    grid-column-gap: 1rem;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: scroll; }
  .mobileMenu__element {
    list-style-type: none;
    text-align: center;
    padding-top: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center; }
  .mobileMenu__link {
    color: #242424;
    font-size: 1.1rem;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #EEEEEE;
    transition: all 0.3s ease; }
    .mobileMenu__link:focus, .mobileMenu__link:hover {
      color: #FFD84E;
      border-color: #FFD84E; }

.firstScreen {
  border-top: none;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-template-rows: 1fr auto 1fr;
  min-height: 90vh; }

.firstScreen-style {
  background-color: #EEEEEE; }

.firstScreen__title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: 'Exo2-Bold';
  width: 84%;
  font-size: clamp(2.5rem, 2em, 3rem);
  justify-self: end;
  align-self: end;
  margin: 5rem 0 1rem 0; }

.firstScreen__text {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: end;
  align-self: start; }

.firstScreen__text-style {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-family: 'Exo2-Regular';
  width: 60%;
  margin-right: 24%; }

.firstScreen__button {
  grid-column: 1/2;
  grid-row: 3/4;
  text-decoration: none;
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-right: 44%;
  font-size: 1.2rem;
  font-family: 'Exo2-Bold';
  padding: 1rem 0;
  align-self: start;
  justify-self: end;
  text-align: center; }

.firstScreen__bannerImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-row: 1/4;
  align-self: start;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%); }

.videoBlock {
  border-top: none;
  margin-top: 0;
  position: relative;
  padding: 1rem 8%;
  height: auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1.5fr 2fr; }

.videoBlock-style {
  background-image: url(../img/pixel.png); }

.videoBlock__video {
  z-index: -1;
  position: absolute;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover; }

.videoBlock__backImage {
  z-index: -1;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.videoBlock__title {
  grid-column: 1/3;
  color: #fff; }

.videoBlock__list {
  grid-column: 2/3; }

.videoBlock__listItem {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Exo2-Semibold';
  color: #fff; }

.videoBlock__form {
  background-color: #fff;
  padding: 2.5rem;
  display: grid;
  justify-self: end;
  align-self: start;
  align-content: end;
  grid-column: 1/2;
  grid-gap: 1rem;
  margin-bottom: 3rem;
  border-radius: 5px; }

.videoBlock__formTitle {
  margin: 0;
  font-size: 1.5rem;
  text-align: center; }

.videoBlock__formText {
  margin: 0;
  text-align: center; }

.videoBlock__input {
  padding: 1rem;
  font-size: 1rem; }
  .videoBlock__input::placeholder {
    color: rgba(36, 36, 36, 0.6);
    font-family: 'Exo2-Medium'; }

.videoBlock__input-style {
  border: 1px solid rgba(36, 36, 36, 0.4);
  border-radius: 3px; }

.videoBlock__input-submit {
  white-space: nowrap;
  border: none;
  outline: none; }

.videoBlock__formText-style2 {
  font-size: 0.7rem; }

.videoBlock__personal {
  color: #FFD84E; }

.aboutCompany {
  border-top: none;
  margin-top: 0;
  display: grid;
  padding: 2rem 8% 0;
  grid-template-areas: "ti n n n" "tx tx d d" "m m d d";
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr); }

.modal {
  z-index: 1000; }

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center; }

.modal__container {
  padding: 0;
  max-width: 80vw;
  max-height: 100vh;
  border-radius: 4px;
  box-sizing: border-box; }

.modal__close {
  position: absolute;
  right: -3rem;
  top: 0;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer; }

.modal__close:before {
  content: "\f057";
  font-family: 'FontAwesome';
  font-size: 2rem;
  color: #FFD84E; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8); }

.modal__overlayImage {
  max-height: 90vh;
  max-width: 80vw;
  object-fit: scale-down; }

/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes mmslideIn {
  from {
    transform: translateY(15%); }
  to {
    transform: translateY(0); } }

@keyframes mmslideOut {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-10%); } }

.micromodal-slide {
  display: none; }

.micromodal-slide.is-open {
  display: block; }

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform; }

.aboutCompany-style {
  background-color: #fff; }

.aboutCompany__title {
  grid-area: ti;
  align-self: center;
  font-size: 1.5rem;
  margin: 0; }

.aboutCompany__numbers {
  grid-area: n;
  display: grid;
  grid-template-columns: repeat(3, 1fr auto 1fr); }

.aboutCompany__number {
  align-self: center; }
  .aboutCompany__number-style {
    font-size: 2rem;
    font-family: 'Exo2-Medium';
    color: #000;
    line-height: 2rem;
    border-bottom: 2px solid rgba(255, 216, 78, 0.6); }

.aboutCompany__icon {
  align-self: center;
  height: 70px;
  justify-self: end;
  padding: 0.2rem;
  border-radius: 3px;
  margin-right: 0.7rem; }

.aboutCompany__icon:nth-child(1) {
  background: linear-gradient(to bottom right, #FFD84E, #FF9838); }

.aboutCompany__icon:nth-child(4) {
  background: linear-gradient(to bottom right, #4184d4, #5fdcb7); }

.aboutCompany__icon:nth-child(7) {
  background: linear-gradient(to bottom right, #f9934a, #ff5282); }

.aboutCompany__merit {
  padding: 0.5rem;
  justify-self: center;
  align-self: center; }

.aboutCompany__merit-style {
  font-size: 0.9rem;
  font-family: 'Exo2-Medium'; }

.aboutCompany__text {
  grid-area: tx;
  align-self: center;
  text-align: justify;
  margin: 0; }

.aboutCompany__manufacturers {
  grid-area: m; }
  .aboutCompany__manufacturers h4 {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0; }

.aboutCompany__logos {
  width: 100%; }

.aboutCompany__documents {
  grid-area: d;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr); }
  .aboutCompany__documentsTitle {
    font-size: 1.2rem;
    text-align: center;
    grid-column: 1/-1;
    margin: 0; }

.aboutCompany__document {
  height: 100%;
  width: 100%;
  display: grid;
  color: #000;
  text-decoration: none;
  grid-template-rows: auto 1fr;
  position: relative;
  transition: all 0.3s ease;
  font-family: 'Exo2-Medium';
  cursor: zoom-in; }
  .aboutCompany__document::before {
    content: '\f1c1';
    padding: 0.2rem 0.4rem;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #EEEEEE;
    border-radius: 3px 0 0 0;
    transition: all 0.3s ease;
    font-family: 'FontAwesome';
    font-size: 1.5rem; }
  .aboutCompany__document:nth-child(2):before {
    content: '\f1c5'; }
  .aboutCompany__document-style {
    background-color: #EEEEEE;
    border-radius: 3px; }
  .aboutCompany__documentText {
    padding: 0.5rem;
    text-align: center;
    align-self: center; }
  .aboutCompany__document:hover {
    background-color: #fbfbfb; }
    .aboutCompany__document:hover:before {
      background-color: #fbfbfb;
      color: #FFD84E; }

.aboutCompany__documentImage {
  width: 85%;
  margin-top: 7.5%;
  justify-self: center; }

.products {
  padding: 0 8%;
  display: grid;
  grid-row-gap: 1.5rem; }

.products__nav {
  display: none;
  transition: all 0.3s ease; }
  .products__nav:checked + .products__navBtn-style {
    color: #000;
    box-shadow: 0 2px 0 #FFD84E; }

.products__title {
  grid-row: 1;
  grid-column: 1/6; }

.products__navBtn {
  cursor: pointer;
  padding-bottom: 0.2rem;
  grid-row: 2;
  grid-column: span 1;
  text-align: center;
  transition: all 0.5s ease;
  box-shadow: 0 2px 0 #EEEEEE; }
  .products__navBtn:hover {
    color: #FFD84E; }

.products__block {
  display: grid;
  grid-row: 3;
  grid-column: 1/6;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;
  transition: opacity 0.7s ease, margin 0.7s ease;
  margin: 1rem 0 -1rem 0;
  height: 0;
  opacity: 0;
  overflow: hidden; }

#nav_1:checked ~ #block_1,
#nav_2:checked ~ #block_2,
#nav_3:checked ~ #block_3,
#nav_4:checked ~ #block_4,
#nav_5:checked ~ #block_5 {
  margin: 0;
  height: 100%;
  opacity: 100%; }

.products__description {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-rows: 1fr auto 1fr; }

.products__descriptionTitle {
  grid-column: 1/3;
  align-self: center;
  text-align: center;
  font-size: 1.5rem; }

.products__descriptionText {
  grid-column: 1/3;
  line-height: 1.5rem;
  align-self: center;
  text-align: justify; }

.products__order {
  grid-column: 1/2;
  align-self: center;
  text-align: center; }

.products__order-style {
  text-decoration: none; }

.products__info {
  grid-column: 2/3;
  align-self: center;
  text-align: center; }

.products__info-style {
  font-family: 'Exo2-SemiBold';
  font-size: 1rem;
  color: #242424;
  transition: all 0.3s ease; }
  .products__info-style:hover {
    color: #FFD84E; }

.products__numbers {
  align-self: center;
  justify-self: start;
  margin-right: 2rem; }
  .products__numbers b {
    font-size: 1.1rem; }

.products__photos {
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  width: 100%;
  max-width: 60vw;
  height: 100%;
  max-height: 40rem; }

.products__photoPicture {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.products__photoBig {
  height: 80%;
  width: 100%; }

.products__photoThumbs {
  height: 20%;
  width: 100%; }
  .products__photoThumbs .swiper-slide-thumb-active {
    position: relative; }
    .products__photoThumbs .swiper-slide-thumb-active::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(255, 216, 78, 0.5); }

.products__icons {
  grid-row: 4;
  grid-column: 1/6;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(8, auto); }

.products__icon {
  align-self: center;
  height: 70px;
  justify-self: start;
  padding: 0.2rem;
  border-radius: 3px; }

.products__icon:nth-child(1) {
  background: linear-gradient(to bottom right, #FFD84E, #FF9838); }

.products__icon:nth-child(3) {
  background: linear-gradient(to bottom right, #4184d4, #5fdcb7); }

.products__icon:nth-child(5) {
  background: linear-gradient(to bottom right, #f9934a, #ff5282); }

.products__icon:nth-child(7) {
  background: linear-gradient(to bottom right, #A2ED00, #9CED81); }

.features {
  display: grid;
  grid-gap: 1rem;
  padding: 0 8%; }

.features__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem; }

.features__card {
  display: grid;
  padding: 0.5rem;
  grid-template-rows: auto auto 1fr; }

.features__card-style {
  border: 0.2rem solid #000;
  transition: all 0.3s ease; }
  .features__card-style:hover {
    border: 0.4rem solid #000;
    padding: 0.3rem; }

.features__card-style:nth-child(5n+1) {
  border-image: linear-gradient(-45deg, #FFD84E, #FF9838);
  border-image-slice: 1; }

.features__card-style:nth-child(5n+2) {
  border-image: linear-gradient(-45deg, #4184d4, #5fdcb7);
  border-image-slice: 1; }

.features__card-style:nth-child(5n+4) {
  border-image: linear-gradient(-45deg, #f9934a, #ff5282);
  border-image-slice: 1; }

.features__card-style:nth-child(5n+5) {
  border-image: linear-gradient(-45deg, #A2ED00, #9CED81);
  border-image-slice: 1; }

.features__icon {
  height: 70px;
  justify-self: center;
  margin: 1rem; }

.features__cardText {
  margin: 0;
  font-size: 0.8rem;
  font-family: 'Exo2-Regular';
  align-self: start; }

.features__image {
  grid-column: 3/5;
  height: 100%;
  object-fit: scale-down;
  justify-self: center;
  align-self: center; }

.construction {
  display: grid;
  padding: 0 8%;
  grid-gap: 1.5rem; }

.construction__block {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr auto 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 2rem; }
  .construction__block * {
    grid-column: 3; }
  .construction__block .construction__image {
    grid-row: 1/4;
    grid-column: 1/3; }

.construction__block-2 * {
  grid-column: 1; }

.construction__block-2 .construction__image {
  grid-column: 2/4; }

.construction__blockTitle {
  font-size: 1.5rem;
  text-align: center;
  align-self: center; }

.construction__text {
  line-height: 1.5rem; }

.construction__button {
  width: 40%;
  text-align: center;
  align-self: center;
  justify-self: start; }

.construction__button-style {
  text-decoration: none; }

.construction__image {
  align-self: center;
  justify-self: center;
  width: 100%;
  object-fit: scale-down; }

.construction__perfs {
  padding: 0.5rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem; }

.construction__perfs-style {
  background-image: linear-gradient(-60deg, #3b3b3b 30%, #777777 45%, #c4c4c4 50%, #777777 55%, #3b3b3b 70%);
  animation: background ease-in-out 40s infinite running alternate;
  background-position: 0 0; }

@keyframes background {
  100% {
    background-position: 100rem 0; } }

.construction__perf {
  position: relative;
  justify-self: center;
  align-self: center; }
  .construction__perf:nth-child(4n+1) {
    grid-column: 1; }
  .construction__perf:nth-child(4n+2) {
    grid-column: 2; }
  .construction__perf:nth-child(4n+3) {
    grid-column: 3; }
  .construction__perf:nth-child(4n+4) {
    grid-column: 4; }
  .construction__perf img {
    width: 100%; }

.construction__perfDesc {
  color: #fff;
  margin: -4px;
  opacity: 0;
  padding-top: 20%;
  position: absolute;
  text-align: center;
  background-color: rgba(36, 36, 36, 0.8);
  border-radius: 3px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s ease;
  cursor: help; }
  .construction__perfDesc b {
    font-size: 2rem; }
  .construction__perfDesc:hover {
    margin: 0;
    opacity: 100%; }

.construction__colors {
  display: grid;
  border: 1rem solid #EEEEEE;
  border-radius: 3px;
  background-color: #EEEEEE;
  background-image: url(../img/ral.png);
  background-size: contain;
  cursor: zoom-in;
  height: 100%;
  position: relative;
  transition: all 0.3s ease; }
  .construction__colors::before {
    content: '\f1c5';
    padding: 0.2rem 0.4rem;
    position: absolute;
    top: -0.1rem;
    right: -0.2rem;
    background-color: #EEEEEE;
    border-radius: 3px 0 0 0;
    transition: all 0.3s ease;
    font-family: 'FontAwesome';
    font-size: 2rem; }
  .construction__colors::after {
    content: 'Таблица RAL';
    text-align: center;
    font-family: 'Exo2-SemiBold';
    padding: 0.4rem;
    position: absolute;
    margin-left: -15%;
    width: 30%;
    bottom: 0;
    left: 50%;
    background-color: #EEEEEE;
    border-radius: 3px 3px 0 0;
    transition: all 0.3s ease;
    font-size: 1.5rem; }
  .construction__colors:hover {
    background-color: #fbfbfb;
    border-color: #fbfbfb; }
    .construction__colors:hover:before {
      background-color: #fbfbfb;
      color: #FFD84E; }
    .construction__colors:hover:after {
      background-color: #fbfbfb; }

.construction__table-style {
  width: 100%;
  text-align: center;
  font-size: 1.2rem; }
  .construction__table-style th {
    border-radius: 3px;
    background-color: #FFD84E;
    padding: 1rem;
    width: 20%; }
  .construction__table-style tr td:first-child {
    font-family: 'Exo2-SemiBold'; }
  .construction__table-style tr td {
    border-radius: 3px;
    background-color: rgba(255, 216, 78, 0.3);
    padding: 1rem; }

.manufacture {
  display: grid;
  padding: 0 8%;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(4, auto); }

.manufacture__title {
  grid-row: 1;
  grid-column: 1/-1; }

.manufacture__video {
  grid-row: 2;
  grid-column: 1/-1;
  width: 80%;
  justify-self: center;
  display: flex;
  padding-top: 45%;
  position: relative;
  margin-bottom: 2rem; }
  .manufacture__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.manufacture__nav {
  display: none;
  transition: all 0.3s ease; }
  .manufacture__nav:checked + .manufacture__navBtn-style {
    color: #000;
    box-shadow: 0 2px 0 #FFD84E; }

.manufacture__navBtn {
  cursor: pointer;
  padding-bottom: 0.2rem;
  grid-row: 3;
  grid-column: span 1;
  text-align: center;
  transition: all 0.5s ease;
  box-shadow: 0 2px 0 #EEEEEE; }
  .manufacture__navBtn:hover {
    color: #FFD84E; }

.manufacture__block {
  display: grid;
  grid-row: 4;
  grid-column: 1/-1;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;
  transition: opacity 0.7s ease, margin 0.7s ease;
  margin: 1rem 0 -1rem 0;
  height: 0;
  opacity: 0;
  overflow: hidden; }

#manNav_1:checked ~ #manBlock_1,
#manNav_2:checked ~ #manBlock_2,
#manNav_3:checked ~ #manBlock_3,
#manNav_4:checked ~ #manBlock_4,
#manNav_5:checked ~ #manBlock_5 {
  margin: 0;
  height: 100%;
  opacity: 100%; }

.manufacture__description {
  display: grid;
  grid-template-rows: 1fr auto 1fr; }

.manufacture__descriptionTitle {
  align-self: center;
  text-align: center;
  font-size: 1.5rem; }

.manufacture__descriptionText {
  line-height: 1.5rem;
  align-self: center;
  text-align: justify; }

.manufacture__order {
  width: 40%;
  align-self: center;
  justify-self: start;
  text-align: center; }

.manufacture__order-style {
  text-decoration: none; }

.manufacture__photos {
  display: flex;
  position: relative;
  height: clamp(30rem, 80vh, 50rem);
  width: 100%;
  overflow: hidden;
  border: 1px solid #EEEEEE; }

.manufacture__photosColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: all 0.5s ease-in-out; }
  .manufacture__photosColumn:hover {
    width: 500%; }

.manufacture__photo {
  display: flex;
  height: 50%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  align-self: center;
  cursor: pointer; }
  .manufacture__photo img {
    width: 100%;
    object-fit: cover; }
  .manufacture__photo:hover {
    height: 500%; }

.delivery {
  display: grid;
  padding: 0 8%; }

.gallery {
  padding: 0 8%; }
  .gallery__wrapper {
    position: relative;
    padding: 0 3rem 3rem 3rem; }

.swiper-container {
  margin-left: auto;
  margin-right: auto; }

.swiper-pagination-gallery {
  font-size: 1.5rem;
  font-family: 'Exo2-Regular';
  color: #FFD84E; }
  .swiper-pagination-gallery .swiper-pagination-current,
  .swiper-pagination-gallery .swiper-pagination-total {
    color: #000; }

.swiper-slide {
  height: 100px;
  background-size: cover;
  background-position: center; }

.swiper-slide-image-contain {
  object-fit: contain;
  width: 100%;
  height: 100%; }

.swiper-slide-image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.swiper-button-yellow {
  color: #FFD84E !important; }

.trust {
  padding: 0 8%; }

.trust-container {
  padding-bottom: 2rem !important;
  height: 5rem; }

.swiper-slide-trust {
  background-size: contain;
  background-repeat: no-repeat; }

.swiper-pagination-bullet-active {
  background-color: #FFD84E !important; }

.news {
  padding: 0 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem; }

.news__title {
  grid-column: 1/4;
  grid-row: 1; }

.news__block {
  display: grid;
  padding: 0.3rem; }

.news__image {
  grid-column: 1/3;
  width: 100%; }

.news__blockTitle {
  grid-column: 1/3; }
  .news__blockTitle a {
    text-decoration: none;
    color: #242424;
    transition: all 0.3s ease; }
    .news__blockTitle a:hover {
      color: #FFD84E; }

.news__blockText {
  grid-column: 1/3;
  align-self: center; }

.news__date {
  grid-column: 1;
  align-self: center;
  justify-self: start; }

.news__date-style {
  font-family: 'Exo2-Medium';
  font-size: 0.8rem; }

.news__more {
  grid-column: 2;
  align-self: center;
  justify-self: end; }

.news__more-style {
  font-family: 'Exo2-Bold';
  color: #242424;
  transition: all 0.3s ease; }
  .news__more-style:hover {
    color: #FFD84E; }

.news__articles {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem; }

.news__articleTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  align-self: center; }

.news__articleDate {
  align-self: center; }

.news__articleDate-style {
  font-size: 0.8rem; }

.news__article {
  align-self: center; }

.news__article-style {
  font-family: 'Exo2-SemiBold';
  font-size: 0.9rem;
  color: #242424;
  transition: all 0.3s ease; }
  .news__article-style:hover {
    color: #FFD84E; }

.news__specials {
  display: grid;
  grid-gap: 0.5rem; }

.news__specialTitle {
  text-align: center; }

.news__specialWrap {
  display: grid;
  padding: 0.8rem; }

.news__specialWrap {
  border: 0.2rem solid #000;
  transition: all 0.2s ease; }
  .news__specialWrap:hover {
    border-width: 0.5rem;
    padding: 0.5rem; }

.news__specialWrap:nth-child(2n+1) {
  border-image: linear-gradient(-45deg, #4184d4, #5fdcb7);
  border-image-slice: 1; }

.news__specialWrap:nth-child(2n+2) {
  border-image: linear-gradient(-45deg, #f9934a, #ff5282);
  border-image-slice: 1; }

.news__special {
  margin: 0; }

.news__special-style {
  font-family: 'Exo2-SemiBold';
  font-size: 1rem;
  text-decoration: none;
  color: #242424;
  transition: all 0.3s ease; }
  .news__special-style:hover {
    color: #FFD84E; }

.news__specialDate {
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Exo2-SemiBold'; }

.news__subscription {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr; }

.news__subscriptionTitle {
  text-align: center;
  grid-column: 1/3; }

.news__subscriptionText {
  grid-column: 1/3; }

.news__email {
  padding: 0.5rem 5%;
  border: 1px solid rgba(36, 36, 36, 0.4);
  border-radius: 3px;
  width: 90%;
  font-size: 1rem; }
  .news__email::placeholder {
    color: rgba(36, 36, 36, 0.6);
    font-family: 'Exo2-Medium'; }

.news__submit {
  border: none;
  outline: none; }

.news__personal {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center; }

.footer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem 8% 1rem; }

.footer-style {
  background-color: #EEEEEE; }

.footer__segment1 {
  padding-right: 3rem;
  display: grid;
  grid-template-rows: 4rem repeat(5, auto); }

.footer__title1-style {
  text-align: center; }

.footer__logo {
  margin: 0.5rem 0;
  height: 3rem;
  object-fit: contain; }

.footer__text {
  margin: 0.5rem 0;
  font-size: 0.7rem; }

.footer__productLink-style {
  text-decoration: none;
  color: #000;
  font-family: 'Exo2-SemiBold';
  transition: all 0.3s ease; }
  .footer__productLink-style:hover {
    color: #FFD84E; }

.footer__copyright {
  font-size: 0.7rem; }

.footer__segment2 {
  display: grid;
  grid-template-areas: "title title" "left right";
  grid-template-rows: 4rem 1fr; }

.footer__title2 {
  grid-area: title; }

.footer__title2-style {
  text-align: center;
  padding-right: 4px; }

.footer__menu {
  margin: 0;
  padding: 0; }

.footer__menu-left {
  grid-area: left;
  text-align: right;
  padding-right: 1rem; }
  .footer__menu-left .footer__menuElement {
    position: relative; }
    .footer__menu-left .footer__menuElement:after {
      position: absolute;
      content: '●';
      font-size: 0.6rem;
      left: Min(108%, 16.4rem);
      top: 20%;
      color: #FFD84E; }

.footer__menu-right {
  grid-area: right;
  text-align: left;
  padding-left: 1rem; }

.footer__menuElement {
  margin-bottom: 1.5rem; }

.footer__menuElement-style {
  list-style: none; }

.footer__menuLink-style {
  text-decoration: none;
  font-size: 1rem;
  color: #242424;
  font-family: 'Exo2-SemiBold';
  transition: all 0.3s ease; }
  .footer__menuLink-style:hover {
    color: #FFD84E;
    box-shadow: 0 2px 0 rgba(255, 216, 78, 0.8); }

.footer__segment3 {
  padding-left: 3rem;
  display: grid;
  grid-template-rows: 4rem repeat(5, auto) 1fr; }

.footer__title3 {
  grid-column-start: 1;
  grid-column-end: 3; }

.footer__title3-style {
  text-align: center; }

.footer__contact {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: left; }

.footer__contact-style b {
  color: #000; }

.footer__btnCall {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  margin: 0;
  background-color: #242424;
  color: #fff;
  font-size: 1rem;
  height: 2.5rem;
  width: 90%;
  align-self: center;
  justify-self: start; }

.footer__socials {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  justify-content: space-between;
  align-self: center; }

.footer__social-style {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  transition: all 0.3s ease; }
  .footer__social-style:hover {
    color: #FFD84E; }

.footer__legal {
  font-size: 0.7rem; }

.footer__legal-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative; }
  .footer__legal-1:after {
    position: absolute;
    content: '|';
    right: -1%; }

.footer__legal-2 {
  grid-column-start: 2;
  grid-column-end: 3; }

.footer__legal-style {
  text-decoration: none;
  color: #242424;
  text-align: center;
  align-self: end;
  transition: all 0.3s ease; }
  .footer__legal-style:hover {
    color: #FFD84E; }

@media screen and (max-width: 900px) {
  h2 {
    font-size: 1.5rem; }
  .header {
    box-shadow: 0 0.05rem 0.1rem rgba(36, 36, 36, 0.1); }
  .firstScreen {
    grid-template-rows: auto auto auto 1fr;
    grid-gap: 0.5rem;
    text-align: center;
    min-height: 92vh;
    padding-left: 5%;
    padding-right: 5%; }
    .firstScreen__title {
      grid-column: 1/-1;
      width: 100%;
      margin-top: 2rem;
      font-size: 1.6rem; }
    .firstScreen__text {
      grid-column: 1/-1;
      width: 100%;
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin: 1rem 0; }
    .firstScreen__button {
      grid-column: 1/-1;
      margin: 1rem 0;
      width: 70%;
      justify-self: center; }
    .firstScreen__bannerImage {
      grid-column: 1/-1;
      grid-row: 4/5;
      width: 111%;
      margin: 0 -5.5%;
      clip-path: none; }
  .videoBlock {
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(36, 36, 36, 0.3); }
    .videoBlock__title {
      grid-column: 1/-1;
      grid-row: 1/2; }
    .videoBlock__list {
      grid-column: 1/-1;
      grid-row: 2/3; }
    .videoBlock__form {
      grid-column: 1/-1;
      grid-row: 3/4; }
    .videoBlock__video {
      display: none; }
    .videoBlock__backImage {
      display: block; }
  .aboutCompany {
    padding-left: 5%;
    padding-right: 5%;
    grid-template-areas: "ti ti ti" "n n n" "tx tx tx" "m m m" "d d d";
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr); }
    .aboutCompany__numbers {
      grid-gap: 1rem;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: repeat(3, 1fr); }
    .aboutCompany__number {
      justify-self: center; }
    .aboutCompany__documentText {
      font-size: 0.7rem; }
  .modal__close {
    right: 0;
    top: -3rem; }
  .products {
    padding-left: 5%;
    padding-right: 5%; }
    .products__block {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-gap: 0.2rem; }
    .products__descriptionTitle {
      font-size: 1.2rem; }
    .products__photos {
      max-width: 90vw; }
    .products__icons {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr); }
    .products__icon {
      justify-self: center; }
    .products__numbers {
      align-self: start;
      justify-self: center;
      margin: 0;
      text-align: center; }
    .products__navBtn {
      font-size: 0.8rem; }
  .features {
    padding-left: 5%;
    padding-right: 5%; }
    .features__cards {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem; }
    .features__cardTitle {
      font-size: 1rem; }
    .features__image {
      grid-column: 1/-1;
      grid-row: 2;
      width: 100%; }
  .construction {
    padding-left: 5%;
    padding-right: 5%; }
    .construction__block {
      grid-gap: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto); }
      .construction__block * {
        grid-column: 1/-1; }
      .construction__block .construction__image {
        grid-column: 1/-1;
        grid-row: 4; }
    .construction__block-2 .construction__image {
      grid-column: 1/-1;
      grid-row: 4; }
    .construction__blockTitle {
      grid-row: 1;
      font-size: 1.2rem; }
    .construction__text {
      grid-row: 2;
      text-align: justify; }
    .construction__button {
      grid-row: 3;
      justify-self: center; }
    .construction__colors {
      height: 10rem;
      width: 90%; }
      .construction__colors::after {
        font-size: 1.2rem;
        bottom: -0.2rem; }
    .construction__table {
      font-size: 1rem; }
      .construction__table th, .construction__table tr td {
        padding: 0.5rem; }
    .construction__perfDesc {
      font-size: 0.6rem; }
      .construction__perfDesc b {
        font-size: 1rem; }
  .manufacture {
    padding-left: 5%;
    padding-right: 5%; }
    .manufacture__block {
      grid-template-columns: 1fr;
      grid-gap: 0.2rem; }
    .manufacture__descriptionTitle {
      font-size: 1.2rem; }
    .manufacture__order {
      justify-self: center; }
    .manufacture__navBtn {
      font-size: 0.8rem; }
    .manufacture__photos {
      height: 15rem; }
  .delivery {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100vw; }
    .delivery__title {
      width: 100%; }
    .delivery__text {
      text-align: justify;
      line-height: 1.5rem;
      width: 100%; }
  .news {
    padding: 0 5%;
    grid-template-columns: 1fr; }
  .footer {
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: 1fr; }
    .footer__segment1 {
      grid-row: 3;
      padding: 0; }
      .footer__segment1 * {
        justify-self: center; }
    .footer__segment3 {
      padding: 0; }
    .footer__legal {
      margin-top: 1rem; }
  .gallery {
    height: 15rem; } }
